html {
  background-color: var(--color-back2);
}

body {
  font-family: var(--font-body);
  font-size: var(--fsize-0);
  font-weight: var(--font-weight-normal);
  color: var(--color-fore1);
  background-color: var(--color-back1);
}

h1, h2, h3 {
  font-weight: var(--font-weight-head);
  margin-block-start: 1.5em;
  color: var(--color-fore2);
}

h1 { font-size: var(--fsize-5); margin-block-start: 1.5rem; }
h2 { font-size: var(--fsize-4); }
h3 { font-size: var(--fsize-3); }

p {
  margin-block-start: 1em;
}

ul, ol, li {
  margin-block: 1em 1.5em;
}

ul {
  list-style-type: square;
}

li {
  margin-block: 1em 0;
  margin-inline: 2em;

  p {
    margin-block-start: 0;
  }
}

:where(h1, h2, h3, h4, h5, h6) + p {
  margin-block-start: 0.2em;
}

figure + * {
  margin-block-start: 2em;
}

figure, img {
  margin-block-start: 1em;
}

figure img {
  box-shadow: 0 2px 3px var(--color-shadow);
}

figcaption {
  font-size: var(--fsize--1);
  margin-block-start: 0.2em;
}

strong {
  font-weight: var(--font-weight-bold);
}

a:link, a:visited {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  color: var(--color-hint1);
}

a:hover, a:active, a:focus {
  color: var(--color-fore2);
}

a.headlink {
  visibility: hidden;
  vertical-align: text-top;
  text-decoration: none;

  :where(h2, h3):where(:hover, :focus) & {
    visibility: visible;
  }

}

main, nav.backnext {

  & > * {
    width: var(--main-width);
    margin-inline: auto;
  }

}
