body > header {

  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-block: 0;
  padding-inline: var(--layout-margin);
  background-color: var(--color-back2);
  box-shadow: 0 1px 5px var(--color-shadow);

  * {
    padding: 0;
    margin: 0;
  }

  a:link, a:visited {
    text-decoration: none;
    color: var(--color-fore2);
  }

  a:hover, a:active, a:focus {
    color: var(--color-hint1);
  }

}

#logo a {
  display: block;
  line-height: var(--header-height);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  overflow: hidden;
}

#themeswitcher {
  height: auto;
  align-self: center;
  padding-inline: 0.3em;
  border: 0 none;
  background-color: var(--color-back2);
}


@media (height > 800px) {

  body > header {
    position: fixed;
    top: 0;
  }

  main {
    padding-top: var(--header-fix-height);
  }

  h1, h2, h3 {
    scroll-margin-top: var(--header-fix-height);
  }

}
