<footer>

  <nav>

    <section>
      <h2>npm</h2>
      <ul>
        <li><a href="https://www.npmjs.com/package/publican">Publican Static Site Generator</a></li>
        <li><a href="https://www.npmjs.com/package/jstacs">JavaScript Templating and Caching System</a></li>
      </ul>
    </section>

    <section>
      <h2>code</h2>
      <ul>
        <li><a href="https://github.com/craigbuckler/publican-starter">Publican starter template Github repository</a></li>
        <li><a href="https://github.com/craigbuckler/publican">Publican Github repository</a></li>
        <li><a href="https://github.com/craigbuckler/jstacs">jsTACS Github repository</a></li>
      </ul>
    </section>

    <section>
      <h2>author</h2>
      <ul>
        <li><a href="https://craigbuckler.com/">Craig Buckler personal website</a></li>
        <li><a href="https://github.com/craigbuckler">Craig Buckler Github profile</a></li>
        <li><a href="https://bsky.app/profile/craigbuckler.com">@craigbuckler on Bluesky</a></li>
        <li><a href="https://www.linkedin.com/in/craigbuckler/">craigbuckler on LinkedIn</a></li>
      </ul>
    </section>

  </nav>

  <p>--COPYRIGHT-- Craig Buckler, ${ tacs.config.title } <a href="--ROOT--feed.xml"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#f78422"><path d="M14.92 18H18C18 9.32 10.82 2.25 2 2.25v3.02c7.12 0 12.92 5.71 12.92 12.73zm-5.44 0h3.08A10.5 10.5 0 0 0 2 7.6v3.02c2 0 3.87.77 5.29 2.16A7.3 7.3 0 0 1 9.48 18zm-5.35-.02c1.17 0 2.13-.93 2.13-2.09 0-1.15-.96-2.09-2.13-2.09-1.18 0-2.13.94-2.13 2.09a2.1 2.1 0 0 0 2.13 2.09z"/></svg> RSS</a></p>

</footer>

</body>
</html>
