${ data?.pagination?.page?.length && '<nav class="pagelist">' + data?.pagination?.page.map(p => `

    <article>
      <a href="${ p.link }">
        <h2>${ p.title }</h2>
        <p>${ p.description }</p>
        ${ p.date ? `<p class="pubdate"><time datetime="${ tacs.fn.format.dateISO( p.date ) }">${ tacs.fn.format.dateHuman( p.date ) }</time></p>` : '' }
        ${ p?.wordCount >= tacs.config.wordCountShow ?
          `<p class="wordcount">${ tacs.fn.format.numberRound( p.wordCount ) } words, ${ tacs.fn.format.numberRound( Math.ceil( p.wordCount / 200 ) ) }-minute read</p>` :
          ''
        }
      </a>
    </article>

  `).join('') + '</nav>'
}


${ tacs.fn.nav.pagination( data.pagination ) }
